html, body
{
    background-color: lightgreen;

    overscroll-behavior: none;
    overflow: hidden;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas
{
    border: 20px solid #303030;
    background-color: wheat;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
